{%- liquid
  assign og_title = page_title | default: shop.name
  assign og_description = page_description | default: shop.description
  assign og_image = page_image | default: settings.default_og_image
-%}

<title>
  {{ page_title }}
  {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
</title>

{%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
{%- endif -%}

<link rel="canonical" href="{{ canonical_url }}">

<meta property="og:site_name" content="{{ shop.name }}">
<meta property="og:title" content="{{ og_title | escape }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ canonical_url }}">
{%- if og_description != blank -%}
  <meta property="og:description" content="{{ og_description | escape }}">
{%- endif -%}
{%- if og_image -%}
  <meta property="og:image" content="https:{{ og_image | image_url: width: 1200 }}">
{%- endif -%}

<meta name="twitter:card" content="summary_large_image">
